@{
    ViewBag.Title = "Congratuation!";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}
<h2>Sorry........... Editing unsuccesful</h2>
<div class="alert alert-success">
    Your product Id is already exist.

</div>
@Html.ActionLink("Details", "Details")
