body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-theme {
    background: #000033;
    font-weight: bold;
}

    .navbar-theme a {
        color: #fff;
    }

.nav > li > a:hover, .nav > li > a:focus {
    background: rgba(255, 255, 255, .2);
}

.navbar-brand {
    font-size: 1.5em;
}

/* Home page */
.basket {
    font-weight: bold;
    font-size: .8em;
    float: right;
    padding: 20px;
    background: none;
    border: 1px solid #000033;
    color: #252625;
    letter-spacing: normal;
    position: relative;
}

    .basket:hover {
        background: #c9d6c5;
    }

    .basket span {
        margin-right: 5px;
        margin-left: -20px;
        padding: 20px;
        text-transform: uppercase;
    }

    .basket table {
        position: absolute;
        margin-top: 20px;
        right: -1px;
        display: none;
        border: 1px solid #252625;
        background: #fff;
        color: #808080;
        z-index: 3;
        letter-spacing: normal;
        text-transform: none;
    }

    .basket:hover table {
        display: table;
    }

    .basket table tr {
        transition: .3s;
        -webkit-transition: .3s;
        padding: 20px;
    }

        .basket table tr:hover {
            opacity: .5;
        }

        .basket table tr:last-child:hover {
            opacity: 1;
        }

        .basket table tr:last-child a {
            padding: 10px 20px;
            float: right;
            color: #252625;
            opacity: .7;
            transition: .3s;
            font-weight: bold;
            letter-spacing: normal;
            -webkit-transition: .3s;
        }

            .basket table tr:last-child a:hover {
                opacity: 1;
                background: #e9e3f7;
                color: #2c2144;
            }

    .basket table td {
        padding: 10px 20px;
    }